$dark: #333;

$gray: #bbb;
$grayDark: darken($gray, 5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
input,
textarea {
  color: $dark;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;

  @include m-mobile {
    cursor: default;
  }
}

body {
  color: $dark;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.icon {
  font-size: 16px;
  margin: 0 4px;
}
