$dark: #333;

$gray: #bbb;
$grayDark: darken($gray, 5);
$grayLight: lighten($gray, 10);
$grayLighter: lighten($gray, 20);

$navHeight: 100px;

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: $dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
input,
textarea {
  color: $dark;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;

  @include m-mobile {
    cursor: default;
  }
}

body {
  color: $dark;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.icon {
  font-size: 16px;
  margin: 0 4px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  max-width: 440px;
  text-align: center;
  margin: 0 auto;
}

.suspense {
  height: calc(100vh - #{$navHeight});
  display: flex;
  justify-content: center;
  align-items: center;

  &__spinner {
    background-color: #ff4136;
    width: 100px;
    height: 100px;
    margin-top: -#{$navHeight};
    animation: spinner 0.9s infinite linear;

    @keyframes spinner {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
