.circle {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.circle__cover {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid $grayLighter;
}

.circle__handle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 147px;
  height: 3px;
  background: $grayLighter;
  transform-origin: 0 0;
}

.circle__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  color: $grayLighter;
  cursor: pointer;

  @include m-mobile {
    cursor: default;
  }
}
