.colors {
  width: 100%;
  overflow: hidden;
  @include fade-animation(0.65s, ease-out);
}

.colors__value {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
}

.colors__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.colors__action {
  flex: 0 0 49%;
  justify-content: center;
  margin-bottom: 8px;
  z-index: 1;
  transition: color 0.2s linear;
  transition-delay: 0.3s;

  &:hover {
    color: $grayLighter;
  }
}

.colors__action--generate {
  flex: 0 0 100%;
}

.colors__handle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.colors__deg {
  width: 70px;
  padding: 2px 4px !important;
  letter-spacing: 1px;
  background: transparent;
  font-size: 20px;
}

.colors__deg--active {
  background: $dark;
  color: $grayLighter;
}
