.colors__value {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
}

.colors__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.colors__action {
  flex: 0 0 49%;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 8px;
}

.colors__action--generate {
  flex: 0 0 100%;
}

.colors__handle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
