.nav {
  width: 100%;
  height: $navHeight;
  display: flex;
  align-items: center;
  @include fade-animation(0.65s, ease-out);
}

.nav__inner {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  @include m-mobile {
    width: 100%;
    flex-direction: column;
  }
}

.nav__section--logo {
  justify-content: flex-start;
}

.nav__section--menu {
  justify-content: center;
}

.nav__section--switch {
  justify-content: flex-end;
}

.nav__section {
  flex: 1;
  display: flex;

  @include m-mobile {
    justify-content: center;

    & + & {
      margin-top: 10px;
    }
  }
}

.nav__logo {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  word-spacing: -4px;
  color: $dark;
  letter-spacing: -1px;
  transition: 0.2s;

  &:hover {
    text-decoration: none;
    word-spacing: 0px;
  }
}

.nav__item {
  font-size: 16px;
  color: $gray;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    text-decoration: none;
    color: $dark;
  }
}

.nav__item--active {
  color: $dark;
  cursor: pointer;

  @include m-mobile {
    cursor: default;
  }
}
